:root{
    --bgColor: #ffffff;
    --fontColor: #000000;
    --accentColor: #F000F0;
    --footerColor: #eF1234;
    --fontSmall: 1rem;
    --fontMedium: 1.4rem;
    --fontLarge: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--fontLarge);
    color: var(--accentColor);
}

nav{
    position: fixed;
    top:0; 
    left:0;
    right: 0;
    background-color: var(--footerColor);
    font-weight: var(--fontMedium);
    #nav-left{
        position:absolute;
        left: 0;
    }
    #nav-right{
        position: absolute;
        right:0;
    }
}

.profile{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.Box{
    border: 1px solid black;
    width: 80%;
    margin-bottom: 1em;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--footerColor);
    text-align: center;
    color: var(--fontColor);
    font-size: 1rem;
    padding: .5rem;
    a{
        color: var(--fontColor);
        text-decoration: none;
    }
    a:hover{
        color: var(--bgColor);
        font-weight: bold;
    }
}