* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 122, 156);
}

.profile{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.Box{
    border: 1px solid black;
    width: 80%;
    margin-bottom: 1em;
}


footer{
    position: fixed;
    bottom: 0;
}